*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}

.container{
    width: 100%;
    min-height: 100vh;
    background:lightseagreen;
    padding: 10px;
}